<footer class="footer">
  <div class="copyright">
    <p>Powered by Hexo | Designed by <%= config.author %></p>
    <p>Copyright &copy; <%= theme.since %> - <%- date(new Date(), 'YYYY') %> <%= config.title %></p>
  </div>
  <div class="canvas">
    <canvas id="wave-canvas"></canvas>
  </div>
</footer>
