<header id="header" class="header">
  <div id="site-brand" class="site-brand">
    <h1 class="brand-title">
      <a class="title" href="<%- url_for() %>"><%= config.title %></a>
    </h1>
  </div>
  <div id="site-nav" class="site-nav">
    <div class="inner">
      <div class="nav">
        <ul id="nav-icon" class="nav-icon">
          <li></li><li></li><li></li>
        </ul>
        <ul id="nav-list" class="nav-list">
          <% for (var i in theme.nav){ %>
            <li class="nav-item"><a href="<%- url_for(theme.nav[i]) %>"><%= __(i) %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</header>
