<% if (page.total > 1) { %>
  <div class="paginator card">
    <%- paginator({
      prev_text: '<ul class="icon prev-icon"><li></li><li></li><li></li></ul>',
      next_text: '<ul class="icon next-icon"><li></li><li></li><li></li></ul>'
    }) %>
  </div>
<% } %>
