<div id="search-form-wrap">
  <div class="overlayer"></div>
  <div>
	<form class="search-form">
	  <label class="search-form-label">Type and Press Enter to Search</label>
	  <input type="search" name="s" class="search-form-input">
	  <input type="submit" class="search-form-submit" value="">
	  <input type="hidden" name="sitesearch" value="<%= config.url %>">
	</form>
  </div>
</div>