// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-dark = #555
color-grey = #999
color-black = #000
color-white = #fff
color-font = #666
color-theme = #3ca5f6
color-border = #e2e2e2
color-background = #f2f2f2

// Fonts
font-sans = -apple-system, BlinkMacSystemFont,"Droid Sans","Helvetica Neue", "Roboto", "Segoe UI",  "Cantarell", "Fira Sans",   "Microsoft YaHei", sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.7.0"
font-size = 15px

// Media queries
mq-mobile = "screen and (max-width: 767px)"
mq-tablet = "screen and (min-width: 768px)"
mq-normal = "screen and (min-width: 992px)"