// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-white = #fff
color-background = #f6f6f6
color-border = #f2f2f2
color-grey = #555
color-font = #444
color-dark = #333
color-black = #000

// Fonts
font-sans = "Galdeano", "PingFang SC", "Helvetica Neue", "Microsoft YaHei", sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 16px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 992px)"
