@import "_variables"

.header
  .page-title
    position: absolute
    top: 0
    left: 4vw
    right: 4vw
    height: 64px
    box-sizing: border-box
    line-height: @height
    text-align: center
    letter-spacing: 1px
    transition: transform .3s
    @media mq-mobile
      height: 56px
      line-height: @height
    .link, .qrcode
      display: block
      position: absolute
      top: 22px
      height: 20px
      width: 20px
      line-height: @height
      background-position: center
      background-repeat: no-repeat
      @media mq-mobile
        display: none
    .link
      left: 0
      background: url('images/home.svg')
    .qrcode
      right: 0
      background: url('images/qrcode.svg')
  &.sticky
    .header-wrap
      transform: translate3d(0, -100%, 0)
  &:not(.sticky)
    .page-title
      transform: translate3d(0, 100%, 0)

.qr
  display: none
  position: fixed
  top: 114px
  right: 50px
  height: 120px
  width: 120px
  padding: 15px
  background: color-white
  z-index: 9
  box-shadow: 0 0 10px rgba(0, 0, 0, .1)
