@import "nib"
@import "_variables"

global-reset()

input, textarea
  outline: none

a, a:hover, a:focus
  text-decoration: none

body
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.wrapper
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between
  background: color-white

@import "_partial/header"
@import "_partial/mobile"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/anchor"
