@import "nib"
@import "_variables"

global-reset()

*
  box-sizing: border-box

input, textarea
  outline: none

a, a:hover, a:focus
  text-decoration: none

@font-face
  font-family: Roboto
  src: url("fonts/Roboto-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: SourceCodePro
  src: url("fonts/SourceCodePro-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@keyframes spinner
  0%
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -moz-transform: rotate(359deg)
    -webkit-transform: rotate(359deg)
    -ms-transform: rotate(359deg)
    transform: rotate(359deg)

body
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  .container
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    background: #ffffff


@import "_extend"
@import "_partial/header"
@import "_partial/mobile"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/anchor"
