<div class="cover" style="background-image: url('<%- url_for(theme.background) %>')">
  <h1 class="title"><%= __('category') %></h1>
</div>
<div class="inner">
  <div class="archive category card">
    <%- list_categories(site.categories) %>
  </div>
</div>
