<div class="cover">

</div>
<div class="outer">
  <main class="main">
    <div class="archive card">
      <% page.posts.forEach(function(post){ %>
        <%- partial('_partial/article', {post: post, index: true}) %>
      <% }) %>
    </div>
    <%- partial('_partial/paginator') %>
  </main>
</div>
