<% if (post.comments && theme.cyan.enable) { %>
	<a class="meta-comment" href="<%- url_for(post.path) %>#comments" >
	  <span id="sourceId::<%- url_for(post.path) %>" class="cy_cmt_count"></span>
	</a>
<% } %>