<div class="post-comment">
  <% if (theme.gitment.enable){ %>
    <% if (theme.gitment.enable){ %>
      <div onclick="showGitment()" id="load-comments" class="load-button"><%= __('load_comments') %></div>
      <div id="comment-container" style="display: none;"></div>
    <% } else { %>
      <div id="comment-container"></div>
    <% } %>
  <% } %>
</div>
