<span class="post-date">
  <time datetime="<%- date_xml(post.date) %>"><% if (timeago) { %><%= post.date.locale(config.language).fromNow() %><% } else { %><%- date(post.date, date_format) %><% } %></time>
</span>
