<div class="article-gallery <% if (count % 2 == 0) { %>right<% } else { %>left<% } %> <% if (post.layout == 'sticky') { %>sticky<% } %>">
  <% if (post.photos != ''){ %>
    <% post.photos.forEach(function(photo, i){ %>
      <div class="image" style="background-image: url(<%- url_for(photo) %>);"></div>
    <% }) %>
  <% } else { %>
    <% if (count % 2 == 0) { %>
      <div class="image" style="background-image: url(/css/images/skip-right.jpg);"></div>
    <% } else { %>
      <div class="image" style="background-image: url(/css/images/skip-left.jpg);"></div>
    <% } %>
  <% } %>
</div>
