<% if (site.categories.length){ %>
  <div class="widget card">
    <h3 class="widget-title"><%= __('categories') %></h3>
    <div class="widget-content">
      <%- list_categories(site.categories, {
        depth: 1,
        transform(str) {
          return str.toUpperCase();
        }
      }) %>
    </div>
  </div>
<% } %>
