<div class="widget card">
  <div class="widget-content">
    <span><%= __('posts') %>: <%= site.posts.length %></span>
    <span><%= __('totalcount') %>: <%- totalcount(site) %></span>
  </div>
</div>
