.top-anchor
  display: none
  @media mq-normal
    display: block
    position: fixed
    right: 30px
    top: 50%
    width: 40px
    height: 40px
    padding: 14px 9px
    color: #111
    box-sizing: border-box
    border-radius: 6px
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    cursor: pointer
    z-index: 9
    opacity: 0
    transition:all .4s ease-in-out 0s

    &.on
      opacity: 1
      &:hover
      &:focus
        opacity: .6
    ul
      position: relative
      height: 12px
      width: 22px
      margin: 0
      padding: 0
      list-style: none
      li
        position: absolute
        width: 16px
        height: 1px
        list-style: none
        background: #111
        &:first-child
          left: 0
          bottom: 0
          transform-origin: 0 100%
          transform: rotate(-45deg)
        &:last-child
          right: 0
          bottom: 0
          transform-origin: 100% 100%
          transform: rotate(45deg)
