.archive
  position relative
  max-width 960px
  margin -80px auto 20px
  z-index 9

.archive-year
  position relative
  display block
  height 30px
  padding 15px 30px
  line-height @height
  font-size 1.8rem
  font-weight bold
  color #999
  letter-spacing 1px
  transition color .4s ease-in-out

  &:hover
    color #333

  &:before
    content ""
    position absolute
    top 20px
    left 0
    display block
    height 20px
    width 20px
    box-sizing border-box
    background #fff
    border 5px solid #666
    border-radius 50%

  &:after
    content ""
    position absolute
    top 0
    left 9px
    bottom 0
    display block
    width 2px
    background #999
    z-index -1

.archive-content
  position relative
  &:after
    content ""
    position absolute
    top 0
    left 9px
    bottom 0
    bottom 0
    display block
    width 2px
    background #aaa
    z-index -1

.archive-item
  position relative
  padding 10px 30px
  .post-date,
  .post-link
    display inline-block
    height 24px
    line-height @height
    margin 0
    padding 5px 10px
    font-size 1.1rem
    font-weight 500
  .post-link
    color color-font
    text-align left
    text-shadow 4px 4px 2px rgba(0, 0, 0, .02)
    transition all .2s ease-in-out
  .post-date
    color #999

  &:before
    content ""
    position absolute
    top 20px
    left 3px
    display block
    height 14px
    width 14px
    box-sizing border-box
    background #fff
    border 3px solid #999
    border-radius 50%
    transition all .2s ease-in-out

  &:hover
    .post-link
      font-size 1.12rem
      transform translate3d(5px, 0, 0)
    &:before
      border-color #333

  &.page
    .archive-article
      display flex
      flex-wrap wrap
      width calc(100% + 20px)

    .article-item
      display inline-block
      width 300px
      height 400px
      margin 0 20px 20px 0
      padding 20px
      box-sizing border-box
      &:last-child
        margin-bottom 0
      .post-date,
      .post-link
        display block
        line-height 1.6
        font-size 1rem
      .post-link
        color color-font
      .post-date
        color #999

/* ========= category ======== */
.category
  .category-list-item
    flex-wrap wrap
    border none

    + .category-list-item
      margin-top 15px

  .category-list > .category-list-item
    padding 15px
    font-size 1.1rem
    border-radius 2px
    background #f8f8f8

  .category-list-child
    width 100%
    margin-top 15px
    padding-left 36px

/* =========== tag =========== */

.archive.tag
  display flex
  flex-wrap wrap
  justify-content center
  font-size 0

.tag-item
  display inline-block
  margin 10px
  padding 10px 15px
  line-height 1.6
  font-size 1rem
  border-radius 4px
  background #f8f8f8
  transition all .2s ease-in-out
  &:hover
    transform scale(1.08)

.tag-title
  display inline

/* ======== paginator ======== */

.paginator
  position relative
  display flex
  justify-content center
  align-items center
  max-width 960px
  margin 20px auto
  padding 0!important
  .page-number, .extend, .space
    height 20px
    width 20px
    padding 10px
    line-height @height
    text-align center
    transition all .2s ease-in-out
    &:hover
      color #fff
      background #000
      li
        background #fff
  .current
    color #fff
    background #000
  .extend
    position absolute
    color #333
  .prev
    left 0
    border-radius 4px 0 0 4px
  .next
    right 0
    border-radius 0 4px 4px 0

  ul.prev-icon,
  ul.next-icon
    position relative
    width 20px
    height 20px
    li
      position absolute
      top 9px
      width 100%
      height 2px
      background #333
      transition all .2s ease-in-out
      &:first-child,
      &:last-child
        width 45%
        height 2px

  ul.prev-icon li
    left 0
    &:first-child
      top 8.7px
      left 0.7px
      transform-origin 0 50%
      transform rotate(-45deg)
    &:last-child
      top 9.3px
      left 0.7px
      transform-origin 0 50%
      transform rotate(45deg)

  ul.next-icon li
    right 0
    &:first-child
      top 8.7px
      right 0.7px
      transform-origin 100% 50%
      transform rotate(45deg)
    &:last-child
      top 9.3px
      right 0.7px
      transform-origin 100% 50%
      transform rotate(-45deg)
