.archive
  margin: 50px auto
  padding: 50px
  border-radius: 1px
  background: color-white
  @media mq-normal
    width: 78%
    min-width: 982px
  @media mq-mobile
    padding: 30px 20px

  .archive-year
    display: block
    margin: 15px 0
    font-size: 1.1em
    color: color-grey
    letter-spacing: 1px
    &:first-child
      margin-top: 0

  ul.archive-list
    margin-left: 10px
    padding: 5px 0
    &:last-child
      margin-bottom: 0
    li.archive-item
      position: relative
      font-size: 0
      &:last-child
        margin-bottom: 0
      .post-date,
      .post-title
        display: inline-block
        margin-bottom: 10px
        line-height: 1.6
        font-size: 16px

      .post-date
        position: absolute
        left: 0
        color: color-grey

      .post-title
        margin-left: 105px
        color: color-font
  &.category
    padding: 0
    display: flex
    justify-content: space-around
    align-items: center
    flex-flow: wrap
    background: transparent

    .category-link
      display: block
      width: 120px
      height: 50px
      padding: 0 20px
      line-height: @height
      color: color-font
      text-align: center
      background: color-white

.paginator
  display: flex
  justify-content: center
  align-items: center
  margin: 50px 0
  text-align: center
  a, span
    height: 40px
    width: 40px
    line-height: @height
    text-align: center
    border-radius: 1px
  .page-number
    display: none
  .prev, .next
    color: color-black
