.archive
  margin: 0 auto
  padding: 50px 4%
  @media mq-normal
    width: 56%
    min-width: 720px

  .archive-year
    display: block
    margin: 15px 0
    font-size: 1.1em
    color: color-grey
    letter-spacing: 1px
    &:first-child
      margin-top: 0

  ul.archive-list
    margin-left: 10px
    padding: 5px 0
    &:last-child
      margin-bottom: 0
    li.archive-item
      position: relative
      font-size: 0
      &:last-child
        margin-bottom: 0
      .post-date,
      .post-title
        display: inline-block
        margin-bottom: 15px
        line-height: 1.6
        font-size: 16px

      .post-date
        position: absolute
        left: 0
        color: color-grey

      .post-title
        margin-left: 105px
        color: color-font
  &.category
    padding: 40px 2%
    display: flex
    justify-content: center
    align-items: center
    flex-flow: wrap

    .category-link
      display: block
      width: 150px
      height: 50px
      margin: 10px
      line-height: @height
      color: color-font
      text-align: center
      border-radius: 1px
      border: 1px solid color-border
      box-sizing: border-box
      transition: background .3s linear
      &:hover, &:focus
        background: color-light

.paginator
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  padding-top: 50px
  background: color-light
  a, span
    height: 40px
    width: 40px
    line-height: @height
    text-align: center
    border-radius: 1px
  .page-number
    display: none
  .prev, .next
    color: color-black
