/* ========== article card =========== */
.article-item
  position relative
  margin 0 0 30px 0
  padding 30px
  font-size 0

  &:nth-child(2n+1)
    .article-thumb
      & + .article-content
        margin-left calc(50% + 15px)
  &:nth-child(2n)
    .article-thumb
      right 30px

.article-thumb
  position absolute
  top 30px
  bottom 30px
  display inline-block
  width calc(50% - 45px)
  box-sizing border-box
  overflow hidden
  + .article-content
    display inline-block
    width calc(50% - 15px)
  @media mq-mobile
    width 100%
    height 200px
    padding 0 0 20px!important
    float none!important

  .image
    position relative
    display block
    height 100%
    width 100%
    overflow hidden
    background-position center center
    background-repeat no-repeat
    background-size cover
    transition all .4s ease-in-out

    &:hover
      transform scale(1.05, 1.05)

      &:before
        content ''
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background rgba(0, 0, 0, .4)

.article-content
  position relative
  display flex
  flex-direction column
  justify-content center
  font-size font-size
  z-index 1
  @media mq-mobile
    width 100%!important
    margin 0!important

  .post-meta
    justify-content space-between

  .post-content
    margin 0

/* ============ common ============= */

.post-link,
.post-title
  display block
  margin 0 0 20px 0
  font-size 1.5rem
  font-weight 600
  color #333

.post-excerpt
  line-height 1.6

/* ============ article ============= */

.article
  position relative
  max-width 960px
  margin 40px auto 20px

  .post-title
    font-size 1.75rem
    @media mq-mobile
      text-align center

.about
  margin-top -50px

.post-meta
  display flex
  align-items center
  flex-flow wrap
  margin 15px 0 0 0
  font-size 0
  @media mq-mobile
    text-align center
  span
    display inline-block
    margin 5px 0
    line-height 1.4
    font-size .875rem
    color color-grey
    text-decoration none
    + span
      margin-left 15px

.post-content
  color color-font
  h1, h2, h3, h4, h5, h6
    margin-top 30px
    padding-bottom 15px
    color #333
    font-weight 600
    border-bottom 1px solid #eaeaea
  h1
    font-size 1.75rem
  h2
    font-size 1.50rem
  h3
    font-size 1.25rem
  h4
    font-size 1.05rem
  h5
    font-size 1.05rem
  h6
    font-size 1.05rem
  p, table
    line-height 1.8
    margin 20px 0
  a
    color color-black
    font-weight 600
    &:active,
    &:hover
      text-decoration underline
      outline 0
  ul, ol, dl
    margin 10px 20px
    line-height 1.8
    ul, ol, dl
      margin 0
  ul
    list-style disc
  ol
    list-style decimal
  img, video
    max-width 100%
    height auto
    display block
    margin 15px auto
  iframe
    border none
  table
    width 100%
    border-collapse collapse
  tr
    &:hover
      background color-light
  th, td
    padding 10px
    border 1px solid color-border
  th
    font-weight bold
    background color-light
  code
    padding: .05em .5em
    color: #ff502c
    font-size .9em
    font-family: font-mono
    word-wrap: break-word
    text-shadow: none
    background: #f6f6f6
    border-radius: 2px
    overflow-x auto
  hr
    width 100%
    height 1px
    border none
    margin 20px 0
    background color-border
    background-image repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px)
  strong
    font-weight bold
  em, cite
    font-style italic
  sup, sub
    font-size 0.75em
    line-height 0
    position relative
    vertical-align baseline
  sup
    top -0.5em
  sub
    bottom -0.2em
  small
    font-size 0.85em
  acronym, abbr
    border-bottom 1px dotted
  blockquote
    margin 20px 0
    padding 15px 20px
    font-family font-serif
    font-size 1.25em
    color color-black
    border 1px solid color-border
    border-radius 1px
    background color-light
    p
      margin 0
      line-height 1.8
    footer
      margin 20px 0
      font-size font-size
      font-family font-sans
      cite
        &:before
          content "—"
          padding 0 0.5em
  .pullquote
    text-align left
    width 45%
    margin 0
    &.left
      margin-left 0.5em
      margin-right 1em
    &.right
      margin-right 0.5em
      margin-left 1em
  .caption
    display block
    margin-top .5em
    font-size .9em
    color color-grey
    text-align center
  .video-container
    position relative
    padding-top (9 / 16 * 100)% // 16:9 ratio
    height 0
    overflow hidden
    iframe, object, embed
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      margin-top 0

.post-footer
  margin-top 40px

.post-copyright
  line-height 1.8
  font-size .875rem
  color color-font
  text-align center

/* =========== nagination =============== */

.nagination
  display flex
  justify-content space-between
  align-items center
  flex-flow wrap
  max-width 960px
  margin 20px auto
  padding 10px 40px
  font-size 15px
  border-top 1px solid color-border
  border-bottom 1px solid color-border

  .nagination-link
    display block
    margin 5px 0
    color color-font
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.article-comment
  max-width 960px
  margin 20px auto 50px
  .gt-container
    .gt-meta
      z-index 1
      .gt-popup
        margin-top 10px
        box-shadow 0 0 10px rgba(0, 0, 0, .1)
    .gt-avatar-github
      @media mq-mobile
        display none!important
    .gt-header-comment
      @media mq-mobile
        margin-left 0!important
    .gt-header-textarea, .gt-header-preview, .gt-btn
      border-radius 1px
    .gt-header-textarea
      border-color color-border
      background-color color-lighter
      &:hover
        background-color color-light
    .gt-header-controls
      margin-top 1.2em
    .gt-link
      border-bottom none
    .gt-comments-null
      display none
    &:after
      display none

.poptrox-popup
  background rgba(31, 34, 36, 0.925)
  box-shadow 0 1em 3em 0.5em rgba(0, 0, 0, 0.25)
  .loader
    position absolute
    top 50%
    left 50%
    width 60px
    height 60px
    margin -30px 0 0 -30px
    text-align center
    opacity 0.5
    animation spinner 1.25s infinite linear
    background-image url('images/loader.svg')
    background-position center
    background-repeat no-repeat
    background-size contain
  .closer
    position absolute
    top 0
    right 0
    height 60px
    width 60px
    transition opacity 0.2s ease-in-out
    background-image url('images/closer.svg')
    background-position center
    background-repeat no-repeat
    background-size 60px
    opacity 0
    z-index 4
  .nav-previous, .nav-next
    position absolute
    top 50%
    height 80px
    width 60px
    margin-top -40px
    transition opacity 0.2s ease-in-out
    background-image url('images/arrow.svg')
    background-position center
    background-repeat no-repeat
    background-size 60px
    opacity 0
    z-index 4
  .nav-previous
    left 0
    transform scaleX(-1)
  .nav-next
    right 0
  &:hover
    .closer, .nav-previous, .nav-next
      opacity 0.75;

    .closer:hover, .nav-previous:hover, .nav-next:hover
      opacity 1.0;
  .closer, .nav-previous, .nav-next
    @media mq-mobile
      display none!important
  &.loading:before
    opacity 0;
