.footer
  position: relative
  text-align: center
  overflow: hidden
  .copyright
    position: relative
    padding: 90px 0 30px
    z-index: 4
    p
      margin: 0 0 10px
      color: color-grey
      font-size: 14px
      &:last-child
        margin: 0
      a
        color: color-grey
  .canvas
    position: absolute
    top: 0
    height: 100%
    width: 100%
