.footer
  position: relative
  text-align: center
  .copyright
    position: relative
    padding: 36px 0
    p
      margin: 0 0 10px
      color: color-grey
      font-size: .88em
      &:last-child
        margin: 0
      a
        color: color-grey
