.footer
  background #fff
  box-shadow 0 5px 45px -10px rgba(158, 158, 158, .22)
  .outer
    justify-content center
  margin-top -100px
  text-align center
  .copyright,
  .navigation
    height 100px
    margin 0 5px
    line-height @height
    font-size .95rem
    color: #666
    span
      font-family TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif
