.header
  position relative
  &.is-home
    .outer
      margin-top -110px
      margin-bottom 50px
      z-index 4
  &.is-page
    background #212121
    box-shadow 0 0 10px rgba(0, 0, 0, 0.02)
    .nav li.nav-item
      &:hover
        background #010101

.cover
  position relative
  display flex
  flex-direction column
  justify-content center
  align-items center
  max-height 420px
  min-height 240px
  margin-top -60px
  padding calc(18vh + 60px) 0
  box-sizing border-box
  z-index -1
  background 50%/cover no-repeat rgba(0, 0, 0, 0.96)
  &:before
    content ""
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    display block
    background rgba(0, 0, 0, 0.24)
  .title
    position relative
    margin 0
    color rgba(255, 255, 255, 1)
    font-size 2.2rem
    font-weight bolder
  .desc
    position relative
    padding 5px 0
    color rgba(255, 255, 255, .75)
    font-size 1.2rem

.logo
  height 60px
  z-index 4
  .title
    display block
    padding 0 10px
    line-height 60px
    font-size 1.8rem
    color rgba(255, 255, 255, .85)
    text-align center

.nav
  height 60px
  box-sizing border-box
  color rgba(255, 255, 255, .85)
  background transparent
  z-index 4

  @media mq-mobile
    margin 0 auto

  ul.nav-menu
    font-size 0
    li.nav-item
      display inline-block
    li.nav-item a
      display block
      height 60px
      padding 0 10px
      line-height @height
      font-size 1rem
      font-weight 520
      text-align center
      letter-spacing 2px
      &:hover
        color rgba(255, 255, 255, 1)
  ul.nav-icon
    display none
    @media mq-mobile
      display none /* 备用 */
      position relative
      width 30px
      height 30px
      margin 0 5px
      padding 0
      cursor pointer
      list-style none
      li
        position absolute
        left 0
        top 14px
        width 100%
        height 1px
        background color-dark
        transition all .3s ease 0s
        &:first-child
          top 5px
          width 80%
        &:last-child
          top 23px
          width 70%
      &.on
        li
          transform-origin center center
          transform rotate(-45deg)
          top 15px
          &:first-child
            opacity 1
            filter opacity(100)
            transform-origin center center
            transform rotate(45deg)
            top 15px
            width 100%
          &:last-child
            opacity:0
            filter opacity(0)
            transition all 0s ease 0s
