<aside id="atframework_video-4" class="widget atframework_video_widget">
	<h4 class="widget-title"><%= __('video') %></h4>
	<div class="fluid-width-video-wrapper">
		<iframe src="<%= theme.video.url %>" frameborder="0" title="<%= theme.video.title %>" webkitallowfullscreen mozallowfullscreen allowfullscreen>
	</div>
</aside>